---
name: Rust

"on":
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_ENABLED: "true"

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-latest

    outputs:
      any_changed: ${{ steps.detect-changes.outputs.any_changed }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get changed files
        id: detect-changes
        uses: tj-actions/changed-files@v43
        with:
          files: |
            .github/workflows/rust.yml
            src/**/*
            Cargo.toml
            Cargo.lock

      - name: Print changed files
        run: |
          for file in ${{ steps.detect-changes.outputs.all_changed_files }}; do
            echo "$file"
          done

  lint:
    name: Lint code
    runs-on: ubuntu-latest

    needs: detect-changes
    if: needs.detect-changes.outputs.any_changed == 'true'

    steps:
      - name: Install Just
        run: sudo snap install --edge --classic just

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache build artifacts
        uses: swatinem/rust-cache@v2.7.3
        with:
          prefix-key: cargo-1.78.0

      - name: Cache compilation artifacts
        uses: mozilla-actions/sccache-action@v0.0.4

      - name: Run Clippy
        run: just lint

  style:
    name: Check style
    runs-on: ubuntu-latest

    needs: detect-changes
    if: needs.detect-changes.outputs.any_changed == 'true'

    steps:
      - name: Install Just
        run: sudo snap install --edge --classic just

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Rustfmt
        run: just format --check

  test:
    name: Run tests
    runs-on: ubuntu-latest

    needs: detect-changes
    if: needs.detect-changes.outputs.any_changed == 'true'

    steps:
      - name: Install Just
        run: sudo snap install --edge --classic just

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache build artifacts
        uses: swatinem/rust-cache@v2.7.3
        with:
          prefix-key: cargo-1.78.0

      - name: Cache compilation artifacts
        uses: mozilla-actions/sccache-action@v0.0.4

      - name: Run tests
        run: just test
