---
name: Rust

"on":
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_ENABLED: "true"

jobs:
  lint:
    name: Lint Rust code
    runs-on: ubuntu-latest

    steps:
      - name: Install Just
        run: sudo snap install --edge --classic just

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Cache build artifacts
        uses: swatinem/rust-cache@v2.8.2
        with:
          prefix-key: cargo-1.92.0

      - name: Cache compilation artifacts
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Run Clippy
        run: just lint

  style:
    name: Check Rust style
    runs-on: ubuntu-latest

    steps:
      - name: Install Just
        run: sudo snap install --edge --classic just

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run Rustfmt
        run: just format --check

  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Install Just
        run: sudo snap install --edge --classic just

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Cache build artifacts
        uses: swatinem/rust-cache@v2.8.2
        with:
          prefix-key: cargo-1.92.0

      - name: Cache compilation artifacts
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Run tests
        run: just test
